node_modules/
.next/
.git/
.husky/
.cache/
.github/

LICENSE
README.md
docker-compose*
Dockerfile
.prettierignore
jest*
public/rss.xml

cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/fixtures/example.json
cypress/plugins/
cypress/support/
