node_modules/
.next/
.git*
.husky/
.cache/

LICENSE
README.md
docker-compose.yaml
Dockerfile
renovate.json
.eslintrc.json
.prettierignore
jest*
public/rss.xml

cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/fixtures/example.json
cypress/plugins/
cypress/support/
