version: '3.9'
services:
  frontend:
    build: .
    image: "${DOCKER_HUB_USERNAME}/echo-web-frontend:${TAG}"
    command: bash -c "yarn start & yarn cypress run --config video=false,screenshotOnRunFailure=false && kill $$!"
    # Don't start tests before backend is up.
    depends_on:
      backend:
        condition: service_healthy
    links:
      - backend
    ports:
      - '3000:3000'
    environment:
      CONTENTFUL_SPACE_ID: ${CONTENTFUL_SPACE_ID}
      CONTENTFUL_ACCESS_TOKEN: ${CONTENTFUL_ACCESS_TOKEN}
      CONTENTFUL_ENVIRONMENT_ID: ${CONTENTFUL_ENVIRONMENT_ID}
      BACKEND_URL: http://backend:8080
      ADMIN_KEY: ${ADMIN_KEY}

  backend:
    build: backend
    image: "${DOCKER_HUB_USERNAME}/echo-web-backend:${TAG}"
    # Don't start backend before database is up.
    depends_on:
      database:
        condition: service_healthy
    links:
      - database
    ports:
      - '8080:8080'
    # Check if backend is ready, and insert bedpres for testing.
    healthcheck:
      test: ["CMD-SHELL", "./scripts/submit_happening -t -x $$ADMIN_KEY || exit 1" ]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      DATABASE_URL: postgres://postgres:password@database/postgres
      # The value of DEV doesn't matter, only that it's defined.
      DEV: "yes"
      # Values from .env file.
      ADMIN_KEY: ${ADMIN_KEY}

  database:
    # Postgres 13.4 is the version Heroku uses.
    image: postgres:13.4-alpine
    restart: always
    ports:
      - '5432:5432'
    # Check if database is ready.
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
