version: '3.9'
services:
  backend:
    build:
      context: .
      target: build
      cache_from:
        - '${IMAGE_NAME:-echo-webkom/echo-web}/backend:${TAG:-latest}'
    # Don't start backend before database is up.
    depends_on:
      database:
        condition: service_healthy
    links:
      - database
    ports:
      - '8080:8080'
    command: ./gradlew test --build-cache --no-daemon
    environment:
      DATABASE_URL: postgres://postgres:password@database/postgres
      ENVIRONMENT: development
      AUTH_SECRET: ${AUTH_SECRET:-very_secret_string_123}
      ADMIN_KEY: ${ADMIN_KEY:?Must specify ADMIN_KEY in .env file or environment.}
      INIT_DB: false
      USE_JWT_TEST: true

  database:
    image: postgres:14.5-alpine
    restart: always
    ports:
      - '5432:5432'
    # Check if database is ready.
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
