name: Build CMS
on:
  pull_request:
    branches: [master]
    paths: ['cms/**']

jobs:
  build_cms:
    name: 'Build CMS'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        run: yarn --frozen-lockfile --ignore-scripts

      - name: Build with yarn
        run: yarn --cwd cms build
