name: Deploy to Sanity Studio
on:
  push:
    branches: [master]
    paths: 'cms/**'

jobs:
  sanity_deploy:
    name: 'Deploy Sanity Studio'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        run: yarn --frozen-lockfile --ignore-scripts

      - name: Deploy to Sanity
        run: yarn --cwd cms sanity deploy
        env:
          SANITY_AUTH_TOKEN: ${{ secrets.SANITY_AUTH_TOKEN }}
          SANITY_STUDIO_API_DATASET: production
